.sticky-controls .form-actions.btn-group .clear-all,.sticky-controls .form-actions.btn-group .save-template {
    border-radius: 6px !important;
    margin-bottom: 3px !important;
    
}
@media (min-width: 1025px) {
    .clear-all{
        margin-right: 1rem;
    }
    .sticky-controls .form-actions.btn-group .clear-all,.sticky-controls .form-actions.btn-group .save-template {
        
        width: 45% !important;
    }
    .cb-wrap.sticky-controls{
        width: 20%;
        padding-right: 1rem;
    }
    .form-actions.btn-group{
        width: 100%;
        justify-content: space-between !important;
        display: flex !important;
    }
    .form-wrap.form-builder .cb-wrap {
        
        max-width: 20%!important;
    }
}
.frmb.stage-wrap.ui-sortable{
    border-radius: 15px !important;
    border: 2px dashed #dbdfe9 !important;
    font-size: 1.15rem !important;
    font-weight: 500 !important;
    color: #99A1B7 !important ;
    font-family: Inter, Helvetica, sans-serif;

}
.remove .btn{
    font-weight: 500 !important;
    color: #99A1B7 !important ;
    font-family: Inter, Helvetica, sans-serif;
}
.form-field{
    border-radius: 15px !important;
    padding: 1.5rem !important;
    margin: 0.5rem !important;
    border: 0.5px solid #dbdfe9 !important;
}
.form-field .field-actions{
    margin-right: 10px;
    margin-top: 2px;
    border-radius: 15px !important;
}
.form-field .field-actions .btn{
    padding: 0 6px !important;
}
.remove .btn span{
    font-weight: 500 !important;
    color: #484c55 !important ;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 1.1rem !important;
}
.form-builder-dialog.positioned{
    left: 50% !important; 
    top: 50% !important;
    width: 400px;
    height: 180px;
    font-weight: 500 !important;
    color: #484c55 !important ;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 1.5rem !important;
    padding: 2rem;
}
.button-wrap .btn-success{
    background-color: black !important;
}
/* .formbuilder-radio-group.radio-group{
    display: flex;
    flex-wrap: wrap !important;
} */
.frmb .form-field .frm-holder .form-elements{
    background-color: #ffffff !important;
    border: none !important;
}
.frmb .form-field .frm-holder .form-elements .close-field{
    color: var(--bs-primary-inverse) !important;
    border-color: var(--bs-primary) !important;
    background-color: var(--bs-primary) !important;
    margin-bottom: 1rem !important;
    margin-top: 2rem !important;
    padding: 0.775rem 1.5rem !important;
    border-radius: 6px !important;
    margin-left: 50% !important;
    display: inline-block !important;
    position: initial !important;
}
.frmb .form-field .frm-holder .form-elements label{
    color: #252f4a !important;
    font-family: Inter, Helvetica, sans-serif;
    font-weight: 600 !important;
    font-size: 1.15rem !important;
}
.frmb .form-field .frm-holder .form-elements .input-wrap label {
    color: #252f4a !important;
    font-family: Inter, Helvetica, sans-serif !important;
    font-weight: 400 !important;
    font-size: 1.1rem !important;
}
.form-wrap.form-builder .frmb .form-elements .input-wrap {
   
    padding-top: 3px !important;
}
.formbuilder-header h1, .frmb .form-field .field-label{
    font-weight: 600 !important;
    font-size: 1.25rem !important;
    color: var(--bs-text-gray-900) !important;
    font-family: Inter, Helvetica, sans-serif;

}
.checkbox-group .formbuilder-checkbox input[type="checkbox"] {
    border-color: var(--bs-primary) !important; /* Color verde de Bootstrap success */
    background-color: var(--bs-primary) !important;
  }

.form-wrap.form-builder .kc-toggle span::after {
    position: relative;
    content: "";
    width: 40% !important;
    margin: 2px !important;
    height: 80% !important;
    left: 0;
    border-radius: 14px !important;
    background: linear-gradient(to bottom, white 0%, #fff 100%) !important;
    border: none  !important;
    transition: transform 100ms;
    transform: translateX(0);
}

.form-wrap.form-builder .kc-toggle input:checked+span::before {
    background-color: var(--bs-primary) !important;
}

.form-wrap.form-builder .kc-toggle span::before {
    border-radius: 14px !important;
    top: 1px !important;
    left: 1px !important;
    content: "";
    width: calc(80%) !important;
    height: 20px !important;
    margin: 1px !important;
    box-shadow: none !important; 
    background-color: rgb(213 213 213) !important;
}
.form-wrap.form-builder .kc-toggle span {
    
    background: none !important; 
    border: none !important;
    
}
.form-wrap.form-builder .kc-toggle span {
    
    width: 37px !important;
    height: 24px !important;
    margin-right: 0px !important;
    
}
.form-wrap.form-builder .frmb .sortable-options {
    background: none !important;
}
.form-wrap.form-builder .frmb .form-elements input[type=text] {
    
    background-color: #fff !important;
    border-radius: 6px !important;
}
.sortable-options.ui-sortable li .remove.btn{
    padding: 1px 3px !important;
    width: 30px !important;

}
.form-wrap.form-builder .frmb .sortable-options>li .remove {
    
    right: 45px !important;
}

.form-wrap.form-builder .frmb-control li strong{
    font-weight: 500 !important;
    font-size: 1.1rem !important;
    color: var(--bs-text-gray-700) !important;
    font-family: Inter, Helvetica, sans-serif;
}  

@media (max-width: 481px) {
    .form-wrap.form-builder .frmb-control li span {
        visibility: visible !important;
    }
}